Make sure to run cassandra instance first

In [1]:
import cassandra
from cassandra.cluster import Cluster

In [11]:
try:
    cluster = Cluster(['localhost'], port=9042)
    session = cluster.connect()
except Exception as e:
    print(e)

hore

In [12]:
try:
    session.execute("""
    SELECT * FROM music_library
    """)
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [23]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS db
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
    )
except Exception as e:
    print(e)

In [24]:
try:
    session.set_keyspace('db')
except Exception as e:
    print(e)

In [25]:
query = 'CREATE TABLE IF NOT EXISTS music_library'
query += " (year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [26]:
query = 'INSERT INTO music_library (year, artist_name, album_name)'
query += " VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, 'The Beatles', 'Hey Jude'))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, 'The Beatles', 'Hey Jude'))
except Exception as e:
    print(e)

In [27]:
query = 'SELECT * from music_library'

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Hey Jude The Beatles
1970 Hey Jude The Beatles